<footer class="footer" id="contact">
  <div class="footer-container">
    <div class="footer-section about">
      <div class="logo">
        <img src="../../../assets/img/logo_black-removebg-preview.png" alt="Logo">
        <p style="margin-top: -80px;font-size: 15px;">We provide advanced tools and resources for analyzing microbiome data to predict diseases.</p>
      </div>
    </div>
    <div class="footer-section links">
      <h3>Quick Links</h3>
      <ul>
        <li><a routerLink="/about">About</a></li>
        <li><a routerLink="/services">Services</a></li>
        <li><a routerLink="/contact" id="contact">Contact</a></li>
        <li><a routerLink="/privacy-policy">Privacy Policy</a></li>
      </ul>
    </div>
    <div class="footer-section contact">
      <h3>Contact Us</h3>
      <p class="contact-item">
        <i class="fas fa-envelope"></i>
        <a href="mailto:microbome@gmail.com">microbome@gmail.com</a>
      </p>
      <p class="contact-item">
        <i class="fas fa-phone"></i>
        <span>99 123 123</span>
      </p>
      <p class="contact-item">
        <i class="fas fa-map-marker-alt"></i>
        <span>add localisation</span>
      </p>
      <div class="social-media">
        <a href="https://www.linkedin.com" target="_blank" class="social-icon"><i class="fab fa-linkedin-in"></i></a>
        <a href="https://www.facebook.com" target="_blank" class="social-icon"><i class="fab fa-facebook-f"></i></a>
        <a href="https://www.instagram.com" target="_blank" class="social-icon"><i class="fab fa-instagram"></i></a>
        <a href="https://x.com" target="_blank" class="social-icon"><i class="fab fa-x"></i></a>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    &copy; 2024 Microscan. All Rights Reserved.
  </div>
</footer>
