<nav class="relative px-4 py-2 flex justify-between items-center border border-[#445bb3]">
  <a class="text-3xl font-bold leading-none" href="#">
        <img src="../../../assets/img/logo_removed_bg.png" alt="Logo" class="Logo" >
  </a>
  <div class="lg:hidden">
      <button class="navbar-burger flex items-center text-[#445bb3] p-3">
          <svg class="block h-4 w-4 fill-current" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
              <title>Mobile menu</title>
              <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"></path>
          </svg>
      </button>
  </div>
  <ul class="hidden absolute top-1/2 left-1/2 transform -translate-y-1/2 -translate-x-1/2 lg:flex lg:mx-auto lg:flex lg:items-center lg:w-auto lg:space-x-10">
      <li><a class="text-md text-[#445bb3] font-bold" href="#">Home</a></li>
      <li><a class="text-md text-gray-400 hover:text-gray-500" href="#Services">Services</a></li>
      <li><a class="text-md text-gray-400 hover:text-gray-500" href="#AboutUs">About Us</a></li>
      <li><a class="text-md text-gray-400 hover:text-gray-500" href="#Contact" fragment="contact">Contact</a></li>
  </ul>
  <a class="hidden lg:inline-block py-2 px-6 bg-[#445bb3] hover:bg-[#364494] text-md text-white font-bold rounded-xl transition duration-200" [routerLink]="['login']">Account</a>
</nav>
