<div class="actors-container">
  <a class="actor" id="patient" routerLink="/patient">
    <img src="../../../assets/img/patient.png" alt="Patient">
    <h2>Patient</h2>
  </a>

  <a class="actor" id="laboratoires-recherche" routerLink="/researcher">
    <img src="../../../assets/img/recherchelab.jpg" alt="Laboratoires de recherche">
    <h2>Laboratoires de recherche</h2>
  </a>

  <a class="actor" id="laboratoires-analyse" routerLink="/lab">
    <img src="../../../assets/img/analyselab.jpg" alt="Laboratoires d'analyse">
    <h2>Laboratoires d'analyse</h2>
  </a>
</div>
