<body class="bg-white h-screen">
  <div class="h-full flex">
    <!-- Sidebar Component -->
    <app-sidebar class="w-1/4 bg-white p-4" [url]="pat"></app-sidebar>
    <div class="flex-1 p-4">
      <header class="text-center p-4 bg-white">
        <h1 class="text-3xl">Welcome on MicroScan, John!</h1>
      </header>
      <section class="bg-white p-8 flex flex-col h-full">
        <div class="flex items-center justify-between mb-8">
          <div class="text-center flex-1">
            <h2 class="text-4xl font-bold mb-2">Analysis is ready</h2>
            <p class="text-gray-600 mb-4">Please click on View Result to see the full result</p>
            <button *ngIf="showViewResultButton" (click)="viewResult()" class="bg-blue-500 text-white py-2 px-4 rounded">View Result</button>
          </div>
        </div>
        <!-- Modal -->
        <div *ngIf="showModal" class="modal-overlay">
          <div class="modal-content">
            <h3>Result of the Analysis</h3>
            <p>{{ this.prediction_result }}</p>
            <button class="see-more-btn" (click)="closeModal()">See More</button>
          </div>
        </div>
        <hr>
        <div class="flex items-center justify-between mt-8 flex-1">
          <div class="flex-1">
            <h2 class="text-xl font-bold mb-4">29 July</h2>
            <ul class="space-y-2">
              <li class="flex items-center">
                <span class="bg-blue-500 text-white rounded-full h-6 w-6 flex items-center justify-center mr-4">:coche_trait_plein:</span>
                Analysis results received: Yesterday
              </li>
              <li class="flex items-center">
                <span class="bg-blue-500 text-white rounded-full h-6 w-6 flex items-center justify-center mr-4">:coche_trait_plein:</span>
                Analysis launched: 22 July
              </li>
              <li class="flex items-center">
                <span class="bg-blue-500 text-white rounded-full h-6 w-6 flex items-center justify-center mr-4">:coche_trait_plein:</span>
                Laboratory meeting: 20 July
              </li>
            </ul>
            <div class="text-right mt-4">
              <a href="#" class="text-blue-500">View all</a>
            </div>
          </div>
          <div class="border-l border-gray-200 h-48 mx-8"></div>
          <div class="flex-1 text-center">
            <img src="../../../assets/Images/DNA2.png" alt="DNA2 image" class="w-1/3 mx-auto">
          </div>
        </div>
        <hr>
        <div class="mt-8 flex-1">
          <h2 class="text-2xl font-bold mb-4">Health Dashboard</h2>
          <div class="grid grid-cols-2 gap-4">
            <div class="p-4 bg-gray-100 rounded-lg flex health-item">
              <img src="../../../assets/icons/age.png" alt="Biological Age Icon" class="health-item-icon">
              <div class="health-content">
                <div>
                  <h3 class="text-xl font-bold">Biological Age</h3>
                  <p class="text-gray-600">Your biological age is</p>
                </div>
              </div>
              <div class="stat-number health-item-right">30</div>
            </div>
            <div class="p-4 bg-gray-100 rounded-lg flex health-item">
              <img src="../../../assets/icons/intestin.png" alt="Gut Health Icon" class="health-item-icon">
              <div class="health-content">
                <div>
                  <h3 class="text-xl font-bold">Gut Health</h3>
                  <p class="text-gray-600">Your gut health score is</p>
                </div>
              </div>
              <div class="stat-number health-item-right">85%</div>
            </div>
            <div class="p-4 bg-gray-100 rounded-lg flex health-item">
              <img src="../../../assets/icons/bouche.png" alt="Oral Health Icon" class="health-item-icon">
              <div class="health-content">
                <div>
                  <h3 class="text-xl font-bold">Oral Health</h3>
                  <p class="text-gray-600">Your oral health score is</p>
                </div>
              </div>
              <div class="stat-number health-item-right">90%</div>
            </div>
            <div class="p-4 bg-gray-100 rounded-lg flex health-item">
              <img src="../../../assets/icons/cellules.png" alt="Cellular & Energy Efficiency Icon" class="health-item-icon">
              <div class="health-content">
                <div>
                  <h3 class="text-xl font-bold">Cellular & Energy Efficiency</h3>
                  <p class="text-gray-600">Your cellular efficiency is</p>
                </div>
              </div>
              <div class="stat-number health-item-right">78%</div>
            </div>
            <div class="p-4 bg-gray-100 rounded-lg flex health-item">
              <img src="../../../assets/icons/inflammatory.png" alt="Inflammation Response Icon" class="health-item-icon">
              <div class="health-content">
                <div>
                  <h3 class="text-xl font-bold">Inflammation Response</h3>
                  <p class="text-gray-600">Your inflammation response is</p>
                </div>
              </div>
              <div class="stat-number health-item-right">65%</div>
            </div>
            <div class="p-4 bg-gray-100 rounded-lg flex health-item">
              <img src="../../../assets/icons/brain.png" alt="Brain & Cognitive Health Icon" class="health-item-icon">
              <div class="health-content">
                <div>
                  <h3 class="text-xl font-bold">Brain & Cognitive Health</h3>
                  <p class="text-gray-600">Your cognitive health score is</p>
                </div>
              </div>
              <div class="stat-number health-item-right">88%</div>
            </div>
            <div class="p-4 bg-gray-100 rounded-lg flex health-item">
              <img src="../../../assets/icons/immune.png" alt="Immune System Health Icon" class="health-item-icon">
              <div class="health-content">
                <div>
                  <h3 class="text-xl font-bold">Immune System Health</h3>
                  <p class="text-gray-600">Your immune health score is</p>
                </div>
              </div>
              <div class="stat-number health-item-right">92%</div>
            </div>
            <div class="p-4 bg-gray-100 rounded-lg flex health-item">
              <img src="../../../assets/icons/heart.png" alt="Heart & Metabolic Health Icon" class="health-item-icon">
              <div class="health-content">
                <div>
                  <h3 class="text-xl font-bold">Heart & Metabolic Health</h3>
                  <p class="text-gray-600">Your heart health score is</p>
                </div>
              </div>
              <div class="stat-number health-item-right">80%</div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
  <app-chat></app-chat>
</body>